<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Welp.Web</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WELP</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">           
                    <li class="dropdown" roles="admin, manager">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Date<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="TagLines" asp-action="">Sloganuri</a></li>
                            <li><a asp-area="" asp-controller="WelpServiceCategories" asp-action="">Categorii servicii</a></li>
                            <li><a asp-area="" asp-controller="WelpServices" asp-action="">Servicii</a></li>
                            <li><a asp-area="" asp-controller="Counties" asp-action="">Județe</a></li>
                            <li><a asp-area="" asp-controller="Localities" asp-action="">Localități</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" roles="admin, manager">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilizatori<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Clients" asp-action="">Clienți</a></li>
                            <li><a asp-area="" asp-controller="Welpers" asp-action="">Tehnicieni</a></li>
                            <li><a asp-area="" asp-controller="OtherUsers" asp-action="">Alte categorii</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" roles="admin, manager">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comenzi<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Orders" asp-action="">În așteptare</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">În desfășurare</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Finalizate</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" roles="admin, manager">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analiză<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ><a asp-area="" asp-controller="Orders" asp-action="">Panou de control</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Cash flow</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Facturi emise</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Facturi primite</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Top servicii</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Top clienți</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Top tehnicieni</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" roles="admin">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrare<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Meniu 1</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="">Meniu 2</a></li>
                        </ul>
                    </li>
                </ul>
                
                @await Html.PartialAsync("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Help">Asistență</a></li>
                </ul>
                
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Welp</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("scripts", required: false)
</body>
</html>
